<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
            <headerK></headerK>
        </div>
    </nav>
    <section class="home-section home-fade home-full-height" id="home">
        <div class="hero-slider">
            <ul class="slides">
                <slider></slider>
            </ul>  
        </div>
        
    </section>
    <div class="main">
        <router-outlet></router-outlet>
        <footer class="footer bg-dark">
            <footerK></footerK>
        </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>