
<div class="auth-container d-flex">

    <div class="container mx-auto align-self-center">

        <div class="row">

            <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
                <div class="auth-cover-bg-image"></div>
                <div style="background-image: url(../src/assets/img/Background2.png); 
                            background-repeat: no-repeat; 
                            background-size: cover; 
                            background-position: center;" 
                            class="auth-overlay">
                </div>                        

                

            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                <div  class="mb-4" style="text-align: center;">
                                   <img style="width: auto; height: 100px;" src="../src/assets/img/logo2.svg" class="navbar-logo" alt="logo">
                                </div>
                            </div>

                            <div class="col-md-12 mb-3" style="text-align: center;">
                                
                                <h2>Sign In</h2>
                                
                            </div>
                            <form>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <p class="form-label">Email</p>
                                        <input type="email" class="form-control" [(ngModel)] = "username" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-4">
                                        <p class="form-label">Password</p>
                                        <input type="password" class="form-control" [(ngModel)] = "password" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <div class="form-check form-check-primary">
                                            <input class="form-check-input me-3" type="checkbox" id="form-check-default">
                                            <p for="form-check-default">Remember me</p>
                                        </div>
                                    </div>
                                </div>
    
    
    
                                <div class="col-12">
                                    <div class="mb-4">
                                        <button class="btn btn-green w-100 icon-error mb-2 me-4 _effect--ripple waves-effect waves-light" (click)="login()">SIGN IN</button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-12 mb-4">
                                <div class="">
                                    <div class="seperator">
                                        <hr>
                                        <div class="seperator-text"> <span>Or continue with</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="mb-4">
                                    <div id="google-btn" style="width: 50px; position: relative; left: 50%; transform: translateX(-50%);">
                                    </div>        
                                </div>
                            </div>
        

                            <div class="col-12">
                                <div class="text-center">
                                    <p class="mb-0">Dont't have an account ? <a [routerLink]="['/register']" class="text-warning">Sign Up</a></p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

</div>

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<!-- END GLOBAL MANDATORY SCRIPTS -->
