    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">
    
            <div class="row">
    
                <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
                    <div class="auth-cover-bg-image"></div>
                    <div class="auth-cover-bg-image"></div>
                    <div style="background-image: url(../src/assets/img/TranhArt.jpg); 
                                background-repeat: no-repeat; 
                                background-size: cover; 
                                background-position: center;" 
                                class="auth-overlay">
                    </div>                        
                    <div class="auth-cover" style="position: relative; height: 100%;">
                        <div class="position-absolute" style="bottom: 200; width: 100%;">
                            <h2 class="mt-5 text-white font-weight-bolder px-2">
                                "Welcome to a World of Art – Where Every Canvas Tells a Story!"
                            </h2>
                            <p class="text-white px-2">
                                "Bringing Art to Life – Discover Your Perfect Piece Online!"
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto">
                    <div class="card">
                        <div class="card-body">
    
                            <form [formGroup]="registerForm" (ngSubmit)="Register()">
                            <div class="row">
                                <div class="col-12">
                                    <div  class="mb-4" style="text-align: center;">
                                       <img style="width: auto; height: 100px;" src="../src/assets/img/Art_2.png" alt="">
                                    </div>
                                </div>
                                <div style="text-align: center;" class="col-md-12 mb-3">
                                    <h2>Sign Up</h2>  
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">You want to be an</label>
                                        <select class="form-select" formControlName="role">
                                            <option value="1" selected>User</option>
                                            <option value="2">Designer</option>
                                        </select>                                    
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control add-billing-address-input" formControlName="username">
                                        @if(registerForm.get('username').touched){
                                            <ul>
                                                @if(registerForm.hasError('required',['username'])){
                                                    <li style="padding-top: 5px; color: red;">username is blank</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" formControlName="email" formControlName="email">
                                        @if(registerForm.get('email').touched){
                                            <ul>
                                                @if(registerForm.hasError('required',['email'])){
                                                    <li style="padding-top: 5px; color: red;">email is blank</li>
                                                } 
                                                @else if(registerForm.hasError('email',['email']))
                                                {
                                                    <li style="padding-top: 5px; color: red;">email invalid</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control" formControlName="password">
                                        @if(registerForm.get('password').touched){
                                            <ul>
                                                @if(registerForm.hasError('required',['password'])){
                                                    <li style="padding-top: 5px; color: red;">password is blank</li>
                                                }
                                                @else if(registerForm.hasError('pattern',['password'])){
                                                    <li style="padding-top: 5px; color: red;">password does not meet the require</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Confirm password</label>
                                        <input type="password" class="form-control" formControlName="rePassword">
                                        @if(registerForm.get('rePassword').touched){
                                            <ul>
                                                @if(registerForm.hasError('required',['rePassword'])){
                                                    <li style="padding-top: 5px; color: red;">Confirm password is blank</li>
                                                }
                                                @else if(registerForm?.errors?.['mismatch']){
                                                    <li style="padding-top: 5px; color: red;">Wrong confirm password</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Contact number</label>
                                        <input type="email" class="form-control" formControlName="contactnumber">
                                        @if(registerForm.get('contactnumber').touched){
                                            <ul>
                                                @if(registerForm.hasError('required',['contactnumber'])){
                                                    <li style="padding-top: 5px; color: red;">Contact number is blank</li>
                                                }
                                                @else if(registerForm.hasError('pattern',['contactnumber'])){
                                                    <li style="padding-top: 5px; color: red;">Contact number does not meet the require</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <div class="form-check form-check-primary form-check-inline">
                                            <input class="form-check-input me-3" type="checkbox" id="form-check-default">
                                            <label class="form-check-label" for="form-check-default">
                                                I agree the <a href="javascript:void(0);" class="text-primary">Terms and Conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="mb-4">
                                        <button class="btn btn-secondary w-100" [disabled]="registerForm.invalid" >SIGN UP</button>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-center">
                                        <p class="mb-0">You have an account ?<a [routerLink]="['/login']" class="text-warning">Sign In</a></p> 
                                    </div>
                                </div>                                                        
                            </div>
                        </form>

                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
    




<!-- </html> -->