<div class="row" id="cancel-row">
                    
    <div class="col-xl-12 col-lg-12 col-sm-12 layout-top-spacing layout-spacing">
        <div class="widget-content widget-content-area br-8">
            <table id="invoice-list" class="table dt-table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th class="checkbox-area" scope="col">
                            <div class="form-check form-check-primary">
                                <input class="form-check-input" id="checkbox_parent_all" type="checkbox">
                            </div>
                        </th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Brand</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @if(cartItems != null){
                    <tbody>
                        @for(product of cartItems; track product){
                            <tr>
                                <td>
                                    <div class="form-check form-check-primary">
                                        <input class="form-check-input" id="checkbox_parent_all" type="checkbox">
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <div class="usr-img-frame me-2 rounded-circle">
                                            <img alt="avatar" class="img-fluid rounded-circle" src="{{product.image}}">
                                        </div>
                                    </div>
                                </td>
                                <td><span>{{truncate(product.name,50,"...")}}</span></td>
                                <td><span class="inv-amount">{{product.brand}}</span></td>
                                <td><span class="inv-amount">{{product.quantity}}</span></td>
    
                                <td ><span class="">{{formattedPrice(product.price)}} Vnđ</span></td>
                                <td>
                                    <a class="badge badge-light-danger text-start action-delete" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            <div style="float: right;" class="mb-2  btn-lg">
                <button class="btn btn-success mb-2  btn-lg " style="padding-left: 55px; padding-right: 55px;">Buy</button>
            </div>
            
        </div>
    </div>

</div>