
    <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;assets/images/shop/background_2.jpg&quot;);">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">This is Titan</div>
            <div class="font-alt mb-30 titan-title-size-4"> Summer 2017</div>
            <div class="font-alt mb-40 titan-title-size-1">Your online fashion destination</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
        </div>
    </div>
    </li>
    <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;assets/images/shop/slider3.png&quot;);">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1"> This is Titan</div>
            <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
        </div>
    </div>
    </li>
