
<div class="row layout-top-spacing">
    <div class="col-lg-3 col-md-3 col-sm-3 mb-4">
        <input id="t-text" type="text" name="txt" placeholder="Search" class="form-control" required="">
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 mb-4 ms-auto">
        <select class="form-select form-select" aria-label="Default select example">
            <option selected="">All Category</option>
            <option value="3">Wordpress</option>
            <option value="1">Admin</option>
            <option value="2">Themeforest</option>
            <option value="3">Travel</option>
        </select>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 mb-4">
        <select class="form-select form-select" aria-label="Default select example">
            <option selected="">Sort By</option>
            <option value="1">Recent</option>
            <option value="2">Most Upvoted</option>
            <option value="3">Popular</option>
        </select>
    </div>
</div>

<div class="row">
@if(designerToDisplay != null ){
    @for(ds of designerToDisplay;track ds)
    {
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card style-2 mb-md-0 mb-4">
                <a [routerLink]="['../designer-detail',{dsId:ds.designerId}]">
                    
                    @if(ds.avatar.substring(0,5)=="https"){
                        <img src="{{ds.avatar}}" class="card-img-top">
                    }
                    @else{
                        <img src="images/{{ds.avatar}}"  class="card-img-top">
                    }
                </a>
                <div class="card-body px-0 pb-0">
                    <div class="row">
                        <a [routerLink]="['../designer-detail',{dsId:ds.designerId}]" class="col-12">
                            <h3 class="card-title mb-0">{{ds.username}}</h3>   
                        </a>
                        
                    </div>
                        @if(ds.yearofexp == null){
                            <h6 class="card-bottom-section">Year of EXP: Updating...</h6>
                        }
                        @else{
                            <h6 class="card-bottom-section">Year of EXP: {{ds.yearofexp}}</h6>
    
                        }
                        @if(ds.specialization == null){
                            <h6 class="card-bottom-section">Specialization: Updating...</h6>
                        }
                        @else{
                            <h6 class="card-bottom-section">Specialization: {{ds.specialization}}</h6>
                        }
                        <h6 class="card-bottom-section">Phone: {{ds.contactnumber}}</h6>
                </div>
            </div>
        </div>
    }
}
</div>

<div class="pagination-no_spacing">
    <ul class="pagination">
        @if(currentPage > 1){
            <li>
                <a href="javascript:void(0);" class="prev" (click)="onPreviousPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </a>
            </li>
        }
        @for(pageNumber of getPageNumbers(); track pageNumber){
            <li>
                <a href="javascript:void(0);" (click)="onPageChange(pageNumber)" [ngClass]="{ 'active': pageNumber === currentPage }">
                    {{ pageNumber }}
                </a>
            </li>
        }
        @if(currentPage < next()){
            <li>
                <a href="javascript:void(0);" class="next" (click)="onNextPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </a>
            </li>
        }
    </ul>
</div>